@import "https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Pirata+One&display=swap";
*,
:before,
:after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
}

::backdrop {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
    --tw-contain-size: ;
    --tw-contain-layout: ;
    --tw-contain-paint: ;
    --tw-contain-style: ;
}

*,
:before,
:after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

:before,
:after {
    --tw-content: "";
}

html,
:host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    line-height: inherit;
}

hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
}

abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: inherit;
}

b,
strong {
    font-weight: bolder;
}

code,
kbd,
samp,
pre {
    font-family: JetBrains Mono, monospace;
    font-feature-settings: normal;
    font-variation-settings: normal;
    font-size: 1em;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

button,
select {
    text-transform: none;
}

button,
input:where([type="button"]),
input:where([type="reset"]),
input:where([type="submit"]) {
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}

:-moz-focusring {
    outline: auto;
}

:-moz-ui-invalid {
    box-shadow: none;
}

progress {
    vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

summary {
    display: list-item;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
    margin: 0;
}

fieldset {
    margin: 0;
    padding: 0;
}

legend {
    padding: 0;
}

ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

dialog {
    padding: 0;
}

textarea {
    resize: vertical;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    opacity: 1;
    color: #9ca3af;
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
    color: #9ca3af;
}

button,
[role="button"] {
    cursor: pointer;
}

:disabled {
    cursor: default;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
    vertical-align: middle;
}

img,
video {
    max-width: 100%;
    height: auto;
}

[hidden]:where(:not([hidden="until-found"])) {
    display: none;
}

body {
    overflow-x: hidden;
    --tw-bg-opacity: 1;
    background-color: rgb(10 42 46 / var(--tw-bg-opacity, 1));
    font-family: EB Garamond, serif;
    --tw-text-opacity: 1;
    color: rgb(244 236 216 / var(--tw-text-opacity, 1));
}

body *::-moz-selection {
    background-color: #2dd4bf4d;
    --tw-text-opacity: 1;
    color: rgb(45 212 191 / var(--tw-text-opacity, 1));
}

body *::selection {
    background-color: #2dd4bf4d;
    --tw-text-opacity: 1;
    color: rgb(45 212 191 / var(--tw-text-opacity, 1));
}

body::-moz-selection {
    background-color: #2dd4bf4d;
    --tw-text-opacity: 1;
    color: rgb(45 212 191 / var(--tw-text-opacity, 1));
}

body::selection {
    background-color: #2dd4bf4d;
    --tw-text-opacity: 1;
    color: rgb(45 212 191 / var(--tw-text-opacity, 1));
}

body {
    cursor: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    --tw-bg-opacity: 1;
    background-color: rgb(10 42 46 / var(--tw-bg-opacity, 1));
}

::-webkit-scrollbar-thumb {
    border-radius: 9999px;
    border-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(10 42 46 / var(--tw-border-opacity, 1));
    --tw-bg-opacity: 1;
    background-color: rgb(26 60 64 / var(--tw-bg-opacity, 1));
}

::-webkit-scrollbar-thumb:hover {
    background-color: #2dd4bf80;
}

.pointer-events-none {
    pointer-events: none;
}

.pointer-events-auto {
    pointer-events: auto;
}

.visible {
    visibility: visible;
}

.static {
    position: static;
}

.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.sticky {
    position: sticky;
}

.-inset-4 {
    top: -1rem;
    right: -1rem;
    bottom: -1rem;
    left: -1rem;
}

.inset-0 {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.inset-1 {
    top: 0.25rem;
    right: 0.25rem;
    bottom: 0.25rem;
    left: 0.25rem;
}

.inset-2 {
    top: 0.5rem;
    right: 0.5rem;
    bottom: 0.5rem;
    left: 0.5rem;
}

.inset-3 {
    top: 0.75rem;
    right: 0.75rem;
    bottom: 0.75rem;
    left: 0.75rem;
}

.inset-4 {
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
}

.-bottom-16 {
    bottom: -4rem;
}

.-bottom-4 {
    bottom: -1rem;
}

.-bottom-6 {
    bottom: -1.5rem;
}

.-bottom-8 {
    bottom: -2rem;
}

.-left-1\.5 {
    left: -0.375rem;
}

.-left-12 {
    left: -3rem;
}

.-left-2 {
    left: -0.5rem;
}

.-left-4 {
    left: -1rem;
}

.-right-20 {
    right: -5rem;
}

.-right-4 {
    right: -1rem;
}

.-top-20 {
    top: -5rem;
}

.-top-3 {
    top: -0.75rem;
}

.-top-4 {
    top: -1rem;
}

.-top-8 {
    top: -2rem;
}

.bottom-0 {
    bottom: 0;
}

.bottom-1 {
    bottom: 0.25rem;
}

.bottom-32 {
    bottom: 8rem;
}

.bottom-4 {
    bottom: 1rem;
}

.bottom-8 {
    bottom: 2rem;
}

.left-0 {
    left: 0;
}

.left-1 {
    left: 0.25rem;
}

.left-1\/2 {
    left: 50%;
}

.left-2 {
    left: 0.5rem;
}

.left-4 {
    left: 1rem;
}

.left-8 {
    left: 2rem;
}

.right-0 {
    right: 0;
}

.right-2 {
    right: 0.5rem;
}

.right-3 {
    right: 0.75rem;
}

.right-4 {
    right: 1rem;
}

.right-8 {
    right: 2rem;
}

.top-0 {
    top: 0;
}

.top-1\/2 {
    top: 50%;
}

.top-10 {
    top: 2.5rem;
}

.top-2 {
    top: 0.5rem;
}

.top-3 {
    top: 0.75rem;
}

.top-4 {
    top: 1rem;
}

.top-8 {
    top: 2rem;
}

.-z-10 {
    z-index: -10;
}

.z-0 {
    z-index: 0;
}

.z-10 {
    z-index: 10;
}

.z-20 {
    z-index: 20;
}

.z-30 {
    z-index: 30;
}

.z-50 {
    z-index: 50;
}

.z-\[9998\] {
    z-index: 9998;
}

.z-\[9999\] {
    z-index: 9999;
}

.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.my-6 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.-mt-1 {
    margin-top: -0.25rem;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.mb-12 {
    margin-bottom: 3rem;
}

.mb-16 {
    margin-bottom: 4rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-3 {
    margin-bottom: 0.75rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.mb-6 {
    margin-bottom: 1.5rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mr-3 {
    margin-right: 0.75rem;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-12 {
    margin-top: 3rem;
}

.mt-16 {
    margin-top: 4rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-4 {
    margin-top: 1rem;
}

.mt-6 {
    margin-top: 1.5rem;
}

.mt-8 {
    margin-top: 2rem;
}

.mt-auto {
    margin-top: auto;
}

.line-clamp-4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.grid {
    display: grid;
}

.hidden {
    display: none;
}

.h-1 {
    height: 0.25rem;
}

.h-1\/2 {
    height: 50%;
}

.h-1\/4 {
    height: 25%;
}

.h-10 {
    height: 2.5rem;
}

.h-12 {
    height: 3rem;
}

.h-16 {
    height: 4rem;
}

.h-2 {
    height: 0.5rem;
}

.h-20 {
    height: 5rem;
}

.h-24 {
    height: 6rem;
}

.h-3 {
    height: 0.75rem;
}

.h-32 {
    height: 8rem;
}

.h-4 {
    height: 1rem;
}

.h-40 {
    height: 10rem;
}

.h-48 {
    height: 12rem;
}

.h-5 {
    height: 1.25rem;
}

.h-6 {
    height: 1.5rem;
}

.h-64 {
    height: 16rem;
}

.h-8 {
    height: 2rem;
}

.h-80 {
    height: 20rem;
}

.h-96 {
    height: 24rem;
}

.h-\[400px\] {
    height: 400px;
}

.h-full {
    height: 100%;
}

.h-px {
    height: 1px;
}

.min-h-\[300px\] {
    min-height: 300px;
}

.min-h-\[70vh\] {
    min-height: 70vh;
}

.min-h-\[80vh\] {
    min-height: 80vh;
}

.min-h-\[calc\(100vh-10rem\)\] {
    min-height: calc(100vh - 10rem);
}

.min-h-screen {
    min-height: 100vh;
}

.w-1 {
    width: 0.25rem;
}

.w-1\.5 {
    width: 0.375rem;
}

.w-1\/4 {
    width: 25%;
}

.w-12 {
    width: 3rem;
}

.w-16 {
    width: 4rem;
}

.w-2 {
    width: 0.5rem;
}

.w-2\.5 {
    width: 0.625rem;
}

.w-20 {
    width: 5rem;
}

.w-24 {
    width: 6rem;
}

.w-3 {
    width: 0.75rem;
}

.w-32 {
    width: 8rem;
}

.w-4 {
    width: 1rem;
}

.w-48 {
    width: 12rem;
}

.w-5 {
    width: 1.25rem;
}

.w-6 {
    width: 1.5rem;
}

.w-64 {
    width: 16rem;
}

.w-8 {
    width: 2rem;
}

.w-80 {
    width: 20rem;
}

.w-96 {
    width: 24rem;
}

.w-\[400px\] {
    width: 400px;
}

.w-full {
    width: 100%;
}

.w-px {
    width: 1px;
}

.max-w-2xl {
    max-width: 42rem;
}

.max-w-3xl {
    max-width: 48rem;
}

.max-w-4xl {
    max-width: 56rem;
}

.max-w-5xl {
    max-width: 64rem;
}

.max-w-6xl {
    max-width: 72rem;
}

.max-w-\[300px\] {
    max-width: 300px;
}

.max-w-md {
    max-width: 28rem;
}

.max-w-none {
    max-width: none;
}

.flex-1 {
    flex: 1 1 0%;
}

.shrink-0 {
    flex-shrink: 0;
}

.origin-bottom {
    transform-origin: bottom;
}

.origin-top {
    transform-origin: top;
}

.-translate-x-1\/2 {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-y-1\/2 {
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-12 {
    --tw-translate-y: 3rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-full {
    --tw-translate-y: 100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-rotate-12 {
    --tw-rotate: -12deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-12 {
    --tw-rotate: 12deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-2 {
    --tw-rotate: 2deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-90 {
    --tw-rotate: 90deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@keyframes ping {
    75%,
    to {
        transform: scale(2);
        opacity: 0;
    }
}

.animate-ping {
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
}

@keyframes pulse {
    50% {
        opacity: 0.5;
    }
}

.animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse-glow {
    0%,
    to {
        opacity: 1;
        filter: drop-shadow(0 0 5px #2dd4bf);
    }
    50% {
        opacity: 0.7;
        filter: drop-shadow(0 0 15px #2dd4bf);
    }
}

.animate-pulse-glow {
    animation: pulse-glow 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.animate-spin-slow {
    animation: spin 20s linear infinite;
}

.cursor-pointer {
    cursor: pointer;
}

.resize-none {
    resize: none;
}

.grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

.items-start {
    align-items: flex-start;
}

.items-end {
    align-items: flex-end;
}

.items-center {
    align-items: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-items-center {
    justify-items: center;
}

.gap-1 {
    gap: 0.25rem;
}

.gap-12 {
    gap: 3rem;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-4 {
    gap: 1rem;
}

.gap-8 {
    gap: 2rem;
}

.space-x-8> :not([hidden])~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(2rem * var(--tw-space-x-reverse));
    margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)));
}

.space-y-12> :not([hidden])~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(3rem * var(--tw-space-y-reverse));
}

.space-y-3> :not([hidden])~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0.75rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
}

.space-y-32> :not([hidden])~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(8rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(8rem * var(--tw-space-y-reverse));
}

.space-y-4> :not([hidden])~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem * var(--tw-space-y-reverse));
}

.space-y-6> :not([hidden])~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1.5rem * var(--tw-space-y-reverse));
}

.space-y-8> :not([hidden])~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(2rem * var(--tw-space-y-reverse));
}

.self-end {
    align-self: flex-end;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}

.overflow-x-hidden {
    overflow-x: hidden;
}

.whitespace-nowrap {
    white-space: nowrap;
}

.rounded-\[100\%\] {
    border-radius: 100%;
}

.rounded-\[50\%_50\%_20\%_20\%\] {
    border-radius: 50% 50% 20% 20%;
}

.rounded-full {
    border-radius: 9999px;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.rounded-md {
    border-radius: 0.375rem;
}

.rounded-sm {
    border-radius: 0.125rem;
}

.rounded-xl {
    border-radius: 0.75rem;
}

.rounded-b-full {
    border-bottom-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
}

.rounded-l-sm {
    border-top-left-radius: 0.125rem;
    border-bottom-left-radius: 0.125rem;
}

.rounded-r-3xl {
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

.rounded-r-sm {
    border-top-right-radius: 0.125rem;
    border-bottom-right-radius: 0.125rem;
}

.rounded-t-full {
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
}

.rounded-bl-sm {
    border-bottom-left-radius: 0.125rem;
}

.border {
    border-width: 1px;
}

.border-2 {
    border-width: 2px;
}

.border-4 {
    border-width: 4px;
}

.border-y {
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.border-b {
    border-bottom-width: 1px;
}

.border-b-2 {
    border-bottom-width: 2px;
}

.border-l {
    border-left-width: 1px;
}

.border-l-4 {
    border-left-width: 4px;
}

.border-r {
    border-right-width: 1px;
}

.border-t {
    border-top-width: 1px;
}

.border-dashed {
    border-style: dashed;
}

.border-double {
    border-style: double;
}

.border-\[\#5c0000\] {
    --tw-border-opacity: 1;
    border-color: rgb(92 0 0 / var(--tw-border-opacity, 1));
}

.border-black\/10 {
    border-color: #0000001a;
}

.border-black\/50 {
    border-color: #00000080;
}

.border-grimoire-accent\/30 {
    border-color: #9d7a964d;
}

.border-grimoire-dark {
    --tw-border-opacity: 1;
    border-color: rgb(10 42 46 / var(--tw-border-opacity, 1));
}

.border-grimoire-dark\/10 {
    border-color: #0a2a2e1a;
}

.border-grimoire-dark\/20 {
    border-color: #0a2a2e33;
}

.border-grimoire-glow {
    --tw-border-opacity: 1;
    border-color: rgb(45 212 191 / var(--tw-border-opacity, 1));
}

.border-grimoire-glow\/10 {
    border-color: #2dd4bf1a;
}

.border-grimoire-glow\/20 {
    border-color: #2dd4bf33;
}

.border-grimoire-glow\/30 {
    border-color: #2dd4bf4d;
}

.border-grimoire-glow\/50 {
    border-color: #2dd4bf80;
}

.border-grimoire-ink {
    --tw-border-opacity: 1;
    border-color: rgb(26 60 64 / var(--tw-border-opacity, 1));
}

.border-grimoire-ink\/10 {
    border-color: #1a3c401a;
}

.border-grimoire-ink\/20 {
    border-color: #1a3c4033;
}

.border-grimoire-ink\/30 {
    border-color: #1a3c404d;
}

.border-grimoire-paper\/20 {
    border-color: #f4ecd833;
}

.bg-\[\#8b0000\] {
    --tw-bg-opacity: 1;
    background-color: rgb(139 0 0 / var(--tw-bg-opacity, 1));
}

.bg-\[\#c2b8a3\] {
    --tw-bg-opacity: 1;
    background-color: rgb(194 184 163 / var(--tw-bg-opacity, 1));
}

.bg-\[\#d4cbb3\] {
    --tw-bg-opacity: 1;
    background-color: rgb(212 203 179 / var(--tw-bg-opacity, 1));
}

.bg-black\/40 {
    background-color: #0006;
}

.bg-black\/50 {
    background-color: #00000080;
}

.bg-black\/80 {
    background-color: #000c;
}

.bg-grimoire-accent\/20 {
    background-color: #9d7a9633;
}

.bg-grimoire-dark {
    --tw-bg-opacity: 1;
    background-color: rgb(10 42 46 / var(--tw-bg-opacity, 1));
}

.bg-grimoire-dark-lighter {
    --tw-bg-opacity: 1;
    background-color: rgb(17 58 64 / var(--tw-bg-opacity, 1));
}

.bg-grimoire-dark\/10 {
    background-color: #0a2a2e1a;
}

.bg-grimoire-dark\/5 {
    background-color: #0a2a2e0d;
}

.bg-grimoire-dark\/90 {
    background-color: #0a2a2ee6;
}

.bg-grimoire-glow {
    --tw-bg-opacity: 1;
    background-color: rgb(45 212 191 / var(--tw-bg-opacity, 1));
}

.bg-grimoire-glow\/10 {
    background-color: #2dd4bf1a;
}

.bg-grimoire-glow\/20 {
    background-color: #2dd4bf33;
}

.bg-grimoire-glow\/5 {
    background-color: #2dd4bf0d;
}

.bg-grimoire-ink\/20 {
    background-color: #1a3c4033;
}

.bg-grimoire-paper {
    --tw-bg-opacity: 1;
    background-color: rgb(244 236 216 / var(--tw-bg-opacity, 1));
}

.bg-grimoire-paper\/10 {
    background-color: #f4ecd81a;
}

.bg-orange-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(251 146 60 / var(--tw-bg-opacity, 1));
}

.bg-orange-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(249 115 22 / var(--tw-bg-opacity, 1));
}

.bg-transparent {
    background-color: transparent;
}

.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

.bg-white\/20 {
    background-color: #fff3;
}

.bg-white\/30 {
    background-color: #ffffff4d;
}

.bg-yellow-400 {
    --tw-bg-opacity: 1;
    background-color: rgb(250 204 21 / var(--tw-bg-opacity, 1));
}

.bg-gradient-to-b {
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
}

.bg-gradient-to-bl {
    background-image: linear-gradient(to bottom left, var(--tw-gradient-stops));
}

.bg-gradient-to-r {
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.bg-gradient-to-t {
    background-image: linear-gradient(to top, var(--tw-gradient-stops));
}

.from-\[\#051517\] {
    --tw-gradient-from: #051517 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(5 21 23 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-grimoire-dark {
    --tw-gradient-from: #0a2a2e var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(10 42 46 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-grimoire-glow\/20 {
    --tw-gradient-from: rgb(45 212 191 / 0.2) var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(45 212 191 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-grimoire-paper {
    --tw-gradient-from: #f4ecd8 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(244 236 216 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.from-transparent {
    --tw-gradient-from: transparent var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.via-grimoire-glow\/30 {
    --tw-gradient-to: rgb(45 212 191 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), rgb(45 212 191 / 0.3) var(--tw-gradient-via-position), var(--tw-gradient-to);
}

.to-\[\#d4cbb3\] {
    --tw-gradient-to: #d4cbb3 var(--tw-gradient-to-position);
}

.to-grimoire-dark {
    --tw-gradient-to: #0a2a2e var(--tw-gradient-to-position);
}

.to-grimoire-dark-lighter {
    --tw-gradient-to: #113a40 var(--tw-gradient-to-position);
}

.to-transparent {
    --tw-gradient-to: transparent var(--tw-gradient-to-position);
}

.p-2 {
    padding: 0.5rem;
}

.p-4 {
    padding: 1rem;
}

.p-6 {
    padding: 1.5rem;
}

.p-8 {
    padding: 2rem;
}

.px-1\.5 {
    padding-left: 0.375rem;
    padding-right: 0.375rem;
}

.px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.px-8 {
    padding-left: 2rem;
    padding-right: 2rem;
}

.py-0\.5 {
    padding-top: 0.125rem;
    padding-bottom: 0.125rem;
}

.py-1 {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.py-8 {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.pb-1 {
    padding-bottom: 0.25rem;
}

.pb-2 {
    padding-bottom: 0.5rem;
}

.pb-32 {
    padding-bottom: 8rem;
}

.pb-6 {
    padding-bottom: 1.5rem;
}

.pb-8 {
    padding-bottom: 2rem;
}

.pl-4 {
    padding-left: 1rem;
}

.pl-6 {
    padding-left: 1.5rem;
}

.pl-8 {
    padding-left: 2rem;
}

.pt-12 {
    padding-top: 3rem;
}

.pt-2 {
    padding-top: 0.5rem;
}

.pt-4 {
    padding-top: 1rem;
}

.pt-8 {
    padding-top: 2rem;
}

.text-center {
    text-align: center;
}

.font-body {
    font-family: EB Garamond, serif;
}

.font-mono {
    font-family: JetBrains Mono, monospace;
}

.font-title {
    font-family: Pirata One, cursive;
}

.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.text-6xl {
    font-size: 3.75rem;
    line-height: 1;
}

.text-\[10px\] {
    font-size: 10px;
}

.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}

.font-bold {
    font-weight: 700;
}

.uppercase {
    text-transform: uppercase;
}

.italic {
    font-style: italic;
}

.leading-none {
    line-height: 1;
}

.leading-relaxed {
    line-height: 1.625;
}

.tracking-wider {
    letter-spacing: 0.05em;
}

.tracking-widest {
    letter-spacing: 0.1em;
}

.text-\[\#ffcccc\] {
    --tw-text-opacity: 1;
    color: rgb(255 204 204 / var(--tw-text-opacity, 1));
}

.text-grimoire-accent {
    --tw-text-opacity: 1;
    color: rgb(157 122 150 / var(--tw-text-opacity, 1));
}

.text-grimoire-accent\/40 {
    color: #9d7a9666;
}

.text-grimoire-accent\/60 {
    color: #9d7a9699;
}

.text-grimoire-dark {
    --tw-text-opacity: 1;
    color: rgb(10 42 46 / var(--tw-text-opacity, 1));
}

.text-grimoire-dark\/80 {
    color: #0a2a2ecc;
}

.text-grimoire-glow {
    --tw-text-opacity: 1;
    color: rgb(45 212 191 / var(--tw-text-opacity, 1));
}

.text-grimoire-glow\/20 {
    color: #2dd4bf33;
}

.text-grimoire-glow\/30 {
    color: #2dd4bf4d;
}

.text-grimoire-glow\/40 {
    color: #2dd4bf66;
}

.text-grimoire-glow\/50 {
    color: #2dd4bf80;
}

.text-grimoire-ink {
    --tw-text-opacity: 1;
    color: rgb(26 60 64 / var(--tw-text-opacity, 1));
}

.text-grimoire-ink\/30 {
    color: #1a3c404d;
}

.text-grimoire-ink\/40 {
    color: #1a3c4066;
}

.text-grimoire-ink\/50 {
    color: #1a3c4080;
}

.text-grimoire-ink\/60 {
    color: #1a3c4099;
}

.text-grimoire-ink\/80 {
    color: #1a3c40cc;
}

.text-grimoire-paper {
    --tw-text-opacity: 1;
    color: rgb(244 236 216 / var(--tw-text-opacity, 1));
}

.text-grimoire-paper\/40 {
    color: #f4ecd866;
}

.text-grimoire-paper\/50 {
    color: #f4ecd880;
}

.text-grimoire-paper\/70 {
    color: #f4ecd8b3;
}

.text-grimoire-paper\/80 {
    color: #f4ecd8cc;
}

.text-grimoire-paper\/90 {
    color: #f4ecd8e6;
}

.opacity-0 {
    opacity: 0;
}

.opacity-20 {
    opacity: 0.2;
}

.opacity-5 {
    opacity: 0.05;
}

.opacity-50 {
    opacity: 0.5;
}

.opacity-80 {
    opacity: 0.8;
}

.mix-blend-multiply {
    mix-blend-mode: multiply;
}

.shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-2xl {
    --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[0_-5px_10px_rgba\(0\, 0\, 0\, 0\.1\)\] {
    --tw-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
    --tw-shadow-colored: 0 -5px 10px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[0_0_15px_rgba\(45\, 212\, 191\, 0\.1\)\] {
    --tw-shadow: 0 0 15px rgba(45, 212, 191, 0.1);
    --tw-shadow-colored: 0 0 15px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[0_0_8px_2px_rgba\(45\, 212\, 191\, 0\.6\)\] {
    --tw-shadow: 0 0 8px 2px rgba(45, 212, 191, 0.6);
    --tw-shadow-colored: 0 0 8px 2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[0_1px_2px_rgba\(0\, 0\, 0\, 0\.8\)\] {
    --tw-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);
    --tw-shadow-colored: 0 1px 2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[20px_0_50px_rgba\(0\, 0\, 0\, 0\.5\)\] {
    --tw-shadow: 20px 0 50px rgba(0, 0, 0, 0.5);
    --tw-shadow-colored: 20px 0 50px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[inset_-4px_0_10px_rgba\(0\, 0\, 0\, 0\.1\)\] {
    --tw-shadow: inset -4px 0 10px rgba(0, 0, 0, 0.1);
    --tw-shadow-colored: inset -4px 0 10px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[inset_-5px_-5px_15px_rgba\(0\, 0\, 0\, 0\.5\)\] {
    --tw-shadow: inset -5px -5px 15px rgba(0, 0, 0, 0.5);
    --tw-shadow-colored: inset -5px -5px 15px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[inset_-5px_0_15px_rgba\(0\, 0\, 0\, 0\.8\)\] {
    --tw-shadow: inset -5px 0 15px rgba(0, 0, 0, 0.8);
    --tw-shadow-colored: inset -5px 0 15px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-\[inset_0_0_15px_rgba\(45\, 212\, 191\, 0\.2\)\] {
    --tw-shadow: inset 0 0 15px rgba(45, 212, 191, 0.2);
    --tw-shadow-colored: inset 0 0 15px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-inner {
    --tw-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: inset 0 2px 4px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-lg {
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-md {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-sm {
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color), 0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.ring {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.blur {
    --tw-blur: blur(8px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.blur-3xl {
    --tw-blur: blur(64px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.blur-\[1px\] {
    --tw-blur: blur(1px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.blur-\[2px\] {
    --tw-blur: blur(2px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.blur-md {
    --tw-blur: blur(12px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.blur-sm {
    --tw-blur: blur(4px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.blur-xl {
    --tw-blur: blur(24px);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.drop-shadow-2xl {
    --tw-drop-shadow: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.drop-shadow-\[0_0_5px_rgba\(45\, 212\, 191\, 0\.8\)\] {
    --tw-drop-shadow: drop-shadow(0 0 5px rgba(45, 212, 191, 0.8));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.sepia {
    --tw-sepia: sepia(100%);
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.backdrop-blur-sm {
    --tw-backdrop-blur: blur(4px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
}

.transition {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
}

.transition-colors {
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
}

.transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
}

.transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 0.15s;
}

.duration-300 {
    transition-duration: 0.3s;
}

.ease-in-out {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.text-glow {
    text-shadow: 0 0 10px rgb(45 212 191 / 50%), 0 0 20px rgb(45 212 191 / 30%);
}

.box-glow {
    box-shadow: 0 0 15px #2dd4bf33, inset 0 0 10px #2dd4bf1a;
}

.paper-texture {
    background-color: #f4ecd8;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.8' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100' height='100' filter='url(%23noise)' opacity='0.08'/%3E%3C/svg%3E");
}

.flicker-filter {
    filter: drop-shadow(0 0 8px rgb(45 212 191 / 60%));
    animation: flicker 3s infinite alternate;
}

@keyframes flicker {
    0%,
    to {
        filter: drop-shadow(0 0 8px rgb(45 212 191 / 60%)) brightness(1);
    }
    50% {
        filter: drop-shadow(0 0 12px rgb(45 212 191 / 80%)) brightness(1.2);
    }
    25%,
    75% {
        filter: drop-shadow(0 0 5px rgb(45 212 191 / 40%)) brightness(0.9);
    }
}

.page-turn-enter {
    transform-origin: left center;
    transform: perspective(1200px) rotateY(-90deg);
    opacity: 0;
}

.page-turn-enter-active {
    transform: perspective(1200px) rotateY(0);
    opacity: 1;
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.8s ease-out;
}

.page-turn-exit {
    transform-origin: left center;
    transform: perspective(1200px) rotateY(0);
    opacity: 1;
}

.page-turn-exit-active {
    transform: perspective(1200px) rotateY(90deg);
    opacity: 0;
    transition: transform 0.8s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.8s ease-in;
}

.first-letter\:float-left:first-letter {
    float: left;
}

.first-letter\:mr-2:first-letter {
    margin-right: 0.5rem;
}

.first-letter\:mr-3:first-letter {
    margin-right: 0.75rem;
}

.first-letter\:font-title:first-letter {
    font-family: Pirata One, cursive;
}

.first-letter\:text-6xl:first-letter {
    font-size: 3.75rem;
    line-height: 1;
}

.first-letter\:text-7xl:first-letter {
    font-size: 4.5rem;
    line-height: 1;
}

.first-letter\:leading-none:first-letter {
    line-height: 1;
}

.first-letter\:text-grimoire-dark:first-letter {
    --tw-text-opacity: 1;
    color: rgb(10 42 46 / var(--tw-text-opacity, 1));
}

.first-letter\:text-grimoire-glow:first-letter {
    --tw-text-opacity: 1;
    color: rgb(45 212 191 / var(--tw-text-opacity, 1));
}

.placeholder\:text-grimoire-ink\/30::-moz-placeholder {
    color: #1a3c404d;
}

.placeholder\:text-grimoire-ink\/30::placeholder {
    color: #1a3c404d;
}

.last\:border-0:last-child {
    border-width: 0px;
}

.hover\:scale-105:hover {
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:border-grimoire-glow:hover {
    --tw-border-opacity: 1;
    border-color: rgb(45 212 191 / var(--tw-border-opacity, 1));
}

.hover\:border-grimoire-glow\/50:hover {
    border-color: #2dd4bf80;
}

.hover\:bg-\[\#a50000\]:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(165 0 0 / var(--tw-bg-opacity, 1));
}

.hover\:bg-grimoire-glow:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(45 212 191 / var(--tw-bg-opacity, 1));
}

.hover\:bg-grimoire-glow\/30:hover {
    background-color: #2dd4bf4d;
}

.hover\:bg-grimoire-ink:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(26 60 64 / var(--tw-bg-opacity, 1));
}

.hover\:text-grimoire-dark:hover {
    --tw-text-opacity: 1;
    color: rgb(10 42 46 / var(--tw-text-opacity, 1));
}

.hover\:text-grimoire-paper:hover {
    --tw-text-opacity: 1;
    color: rgb(244 236 216 / var(--tw-text-opacity, 1));
}

.hover\:box-glow:hover {
    box-shadow: 0 0 15px #2dd4bf33, inset 0 0 10px #2dd4bf1a;
}

.focus\:border-grimoire-ink:focus {
    --tw-border-opacity: 1;
    border-color: rgb(26 60 64 / var(--tw-border-opacity, 1));
}

.disabled\:opacity-50:disabled {
    opacity: 0.5;
}

.group:hover .group-hover\:translate-y-0 {
    --tw-translate-y: 0px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.group:hover .group-hover\:text-grimoire-glow {
    --tw-text-opacity: 1;
    color: rgb(45 212 191 / var(--tw-text-opacity, 1));
}

.group:hover .group-hover\:opacity-100 {
    opacity: 1;
}

.group:hover .group-hover\:text-glow {
    text-shadow: 0 0 10px rgb(45 212 191 / 50%), 0 0 20px rgb(45 212 191 / 30%);
}

@media (min-width: 768px) {
    .md\:block {
        display: block;
    }
    .md\:w-16 {
        width: 4rem;
    }
    .md\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .md\:flex-row {
        flex-direction: row;
    }
    .md\:items-baseline {
        align-items: baseline;
    }
    .md\:gap-12 {
        gap: 3rem;
    }
    .md\:gap-8 {
        gap: 2rem;
    }
    .md\:space-x-16> :not([hidden])~ :not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(4rem * var(--tw-space-x-reverse));
        margin-left: calc(4rem * calc(1 - var(--tw-space-x-reverse)));
    }
    .md\:p-12 {
        padding: 3rem;
    }
    .md\:p-8 {
        padding: 2rem;
    }
    .md\:pl-12 {
        padding-left: 3rem;
    }
    .md\:text-2xl {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .md\:text-4xl {
        font-size: 2.25rem;
        line-height: 2.5rem;
    }
    .md\:text-5xl {
        font-size: 3rem;
        line-height: 1;
    }
    .md\:text-8xl {
        font-size: 6rem;
        line-height: 1;
    }
    .md\:text-base {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .md\:text-xl {
        font-size: 1.25rem;
        line-height: 1.75rem;
    }
}

@media (min-width: 1024px) {
    .lg\:flex {
        display: flex;
    }
    .lg\:grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
    .lg\:p-12 {
        padding: 3rem;
    }
    .lg\:text-9xl {
        font-size: 8rem;
        line-height: 1;
    }
}